

.todo-list__item{
    display: inherit;
    width: 80%;
    justify-content: flex-start;
    background-color: #fafafa;
    box-shadow: 0px 5px 50px 0px #20232926;
    border-radius: 2px;
    align-items: center;
    position: relative;
}
.todo-list__item__content{
    padding-left: 1rem;
}
.todo-list__item__content__completed{
    text-decoration: line-through;
}
