:root{
    --primary-color: #1e1e1f;
    --background:#F2F4F5;
}
body{
    background-color: var(--background);
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}

.heading{
    font-size: 24px;
    text-align: center;
    margin: 0;
    font-weight: 400;
    padding: 2rem 4rem;
}
.heading span{
    font-weight: bold;
}

.search-component{
    border-radius: 2px;
    border-width: 2px;
    min-height: 64px;
    font-size: 24px;
    text-align: center;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 5px 50px 0px #20232940;
    background: #F9FBFC;
}
.search-component::placeholder{
    color: #aaaaaa;
    font-weight: 400;
}
.search-component:focus{
    outline: #61dafa;
}
.todo-list{
    list-style-type: none;
    padding: 2rem 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.icon{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.icon-check__active{
    color: #00be03;
}

.todo-list__item{
    display: inherit;
    width: 80%;
    justify-content: flex-start;
    background-color: #fafafa;
    box-shadow: 0px 5px 50px 0px #20232926;
    border-radius: 2px;

    align-items: center;
    position: relative;
}
.todo-list__item__content__completed{
    text-decoration: line-through;
}
.icon-delete{
    position: absolute;
    right: 0.5rem;
    top: -1.25rem;
    
}
.icon-delete:hover{
    color: #ff0000;
}
.create-todo{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 4rem;
    height: 4rem;
    background: #61DAFA;
    border: 0;
    box-shadow: 0px 5px 25px 0px #61DAFA80;
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;

}